<ng-template #editProjectInfo let-c="close" let-d="dismiss">  
    <div class="modal-header">
        <h3 class="modal-title">Project Information</h3>
    </div>
    <form [formGroup]="projInfoForm" class="sigl-modal-form">
        <fieldset>
            <div class="modal-body">
                <!-- Project Name* -->
                <div formGroupName="projectGrp">
                    <div class="sigl-modal-form-group required" [ngClass]="{'has-error':!projInfoForm.get('projectGrp').get('name').valid && projInfoForm.get('projectGrp').get('name').dirty}">
                        <label class="req" for="name">Project Name:</label>
                        <input class="form-control" type="text" placeholder="Project Name" formControlName="name">
                    </div>
                    <hr />
                    <!-- Project Duration* -->
                    <div class="sigl-modal-form-group required" [ngClass]="{'has-error':!projInfoForm.get('projectGrp').get('proj_duration_id').valid && projInfoForm.get('projectGrp').get('proj_duration_id').dirty}">
                        <label class="req" for="proj_duration_id">
                            Project Duration:
                            <span class="sigl-tooltip fa fa-question-circle" [ngbTooltip]="projTips.projDuration" placement="right"></span>                                               
                        </label>
                        <select class="form-control" id="proj_duration_id" formControlName="proj_duration_id" [(ngModel)]="modalFullProject.duration_id">
                            <option value=""></option>
                            <option *ngFor="let d of projDurationList" [ngValue]="d.proj_duration_id">{{d.duration_value}}</option>
                        </select>  
                    </div>
                    <!-- Project Status* -->
                    <div class="sigl-modal-form-group required" [ngClass]="{'has-error':!projInfoForm.get('projectGrp').get('proj_status_id').valid && projInfoForm.get('projectGrp').get('proj_status_id').dirty}">
                        <label class="req" for="proj_status_id">
                            Project Status:
                            <span class="fa fa-question-circle sigl-tooltip" [ngbTooltip]="projTips.projStatus" placement="right"></span>                        
                        </label>
                        <select class="form-control" id="proj_status_id" formControlName="proj_status_id" [(ngModel)]="modalFullProject.status_id">
                            <option value=""></option>
                            <option *ngFor="let s of projStatusList" [ngValue]="s.proj_status_id">{{s.status_value}}</option>
                        </select>  
                    </div>
                    <!-- Project Start Date validateEqual="end_date"-->
                    <div class="sigl-modal-form-group" [ngClass]="{'has-error':!projInfoForm.get('projectGrp').get('start_date').valid && projInfoForm.get('projectGrp').get('start_date').dirty}">
                        <label for="start_date">
                            Project Start Date:
                            <span class="fa fa-question-circle sigl-tooltip" [ngbTooltip]="projTips.startDate" placement="right"></span>
                        </label>
                        <div class="input-group">                        
                            <input class="form-control" placeholder="yyyy-mm-dd" validateDates="end_date" formControlName="start_date" ngbDatepicker #sd="ngbDatepicker">
                            <div class="input-group-addon btn-cal" (click)="sd.toggle()"><i class="fa fa-calendar-o" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i></div>
                        </div>
                        <div class="alert alert-danger" *ngIf="!projInfoForm.get('projectGrp').get('start_date').valid && projInfoForm.get('projectGrp').get('start_date').dirty">Start date must come before Completion date.</div>
                    </div>
                    <!-- Project Completion Date -->
                    <div class="sigl-modal-form-group" [ngClass]="{'has-error':!projInfoForm.get('projectGrp').get('end_date').valid && projInfoForm.get('projectGrp').get('end_date').dirty && !projInfoForm.get('projectGrp').get('end_date').disabled}">
                        <label for="end_date">
                            Project Completion Date:
                            <span class="fa fa-question-circle sigl-tooltip" [ngbTooltip]="projTips.endDate" placement="right"></span>
                        </label>
                        <div class="input-group">                        
                            <input class="form-control" placeholder="yyyy-mm-dd" validateDates="start_date" formControlName="end_date" ngbDatepicker #ed="ngbDatepicker">
                            <div *ngIf="undetermined" class="input-group-addon btn-cal"><i class="fa fa-calendar-o" style="width: 1.2rem; height: 1rem; cursor:not-allowed;"></i></div>
                            <div *ngIf="!undetermined" class="input-group-addon btn-cal" (click)="ed.toggle()"><i class="fa fa-calendar-o" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i></div>
                        </div>
                        <div class="alert alert-danger" *ngIf="!projInfoForm.get('projectGrp').get('end_date').valid && projInfoForm.get('projectGrp').get('end_date').dirty && !projInfoForm.get('projectGrp').get('end_date').disabled">
                            Completion date must come after Start date.
                        </div>
                    </div>
                </div> <!-- end formGroupName= "projectGrp" -->
                <hr />
                <!-- Project Objectives -->
                <div class="sigl-modal-form-group">
                    <label>
                        Project Objectives:
                        <span class="fa fa-question-circle sigl-tooltip" [ngbTooltip]="projTips.objectives" placement="right"></span>
                    </label>
                    <ss-multiselect-dropdown [options]="objectiveMulti" [settings]="multiSettings" formControlName="objectives"></ss-multiselect-dropdown>
                </div>
                <!-- Monitoring Coordination MonitorCoordsdata  -->  
                <div class="sigl-modal-form-group">
                    <label>
                        Monitoring Coordination Effort:
                        <span class="fa fa-question-circle sigl-tooltip" [ngbTooltip]="projTips.monCoords" placement="right"></span>
                    </label>
                    <ss-multiselect-dropdown [options]="monitorCoordsMulti" [settings]="multiSettings" formControlName="monitorCoords"></ss-multiselect-dropdown>
                </div>
                <div formGroupName="projectGrp">
                    <!-- Project Description -->
                    <div class="sigl-modal-form-group">
                        <label for="description">
                            Description:
                            <span class="fa fa-question-circle sigl-tooltip" [ngbTooltip]="projTips.description" placement="right"></span>                        
                        </label>
                        <textarea autosize id="description" type="text" rows="3" placeholder="Project Description" formControlName="description" elastic></textarea>
                    </div>
                </div><!-- end formGroupName= "projectGrp" -->
                <hr />
                <!-- Project Keywords  [ ] == input to projKeys-list  ( ) == output from projKeys-list -->
                <projpart-list [projectPart]="modalProjectParts.ProjKeys" [projectThing]="'Keyword'" (allTheThings)="updatePrjPart($event)" (thingToRemove)="removeKeyorURL($event)"></projpart-list>                
                <hr />
                <!-- Project Websites -->
                <projpart-list [projectPart]="modalProjectParts.ProjUrls" [projectThing]="'Website'" (allTheThings)="updatePrjPart($event)" (thingToRemove)="removeKeyorURL($event)"></projpart-list>
                <!-- Project Additional Info -->
                <div formGroupName="projectGrp">
                    <div class="sigl-modal-form-group">
                        <label for="additional_info">
                            Additional Information:
                            <span class="fa fa-question-circle sigl-tooltip" [ngbTooltip]="projTips.description" placement="right"></span>                        
                        </label>
                        <textarea autosize id="additional_info" type="text" rows="3" placeholder="Additional Information" formControlName="additional_info"></textarea>
                    </div>
                </div>
                <!--submit and cancel buttons -->
                <div class="sigl-modal-form-group" style="text-align:center; padding-top: 15px;">
                    <button type="button" *ngIf="modalFullProject.ProjectId == undefined" class="sigl-btn" (click)="c(projInfoForm)">Create</button>
                    <button type="button" class="sigl-btn btn-orange" (click)="d('clickedCancel')">Cancel</button>
                    <button type="button" *ngIf="modalFullProject.ProjectId != undefined" class="sigl-btn" (click)="c(projInfoForm.valid)">Save</button>
                </div>
            </div> <!-- end modal-body -->
        </fieldset>
    </form>
</ng-template>
<areYouSureModal #areYouSure [message]="messageToShow" (modalResponseEvent)="AreYouSureDialogResponse($event)"></areYouSureModal>

<ng-template #invalidDates let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title">Error</h3>
    </div>
    <div class="modal-body">
        <p>Completion date must come after Start date.</p>
    </div>
    <div class="modal-footer">
        <div class="sigl-modal-form-group" style="text-align:center; padding-top: 15px;">
            <button type="button" (click)="d('ok')">OK</button>
        </div>
    </div>
</ng-template>