<div id="body-wrapper" class="sigl-section">
  <div class="section-heading">Project Owner Name : Your Projects ({{projectList.length}})</div>
  <br/>
  <p class="section-text">
    <span>Click on the project name to view and edit project and site information.</span>
     <a [routerLink]="['/projectdetail', 0, 'info']" class="section-bottom-button pull-right">
            <i class="fa fa-plus"></i>  Create new Project</a>
  </p>
 <!-- need to finish new sortable table I added -->
<table class="sigl-table" [mfData]="projectList" #mf="mfDataTable">
    <thead>
      <tr>
          <th><mfDefaultSorter by="name">Project Name</mfDefaultSorter></th>
          <th *ngIf="userRole == 'ADMIN'"><mfDefaultSorter by="lname">Manager Last Name</mfDefaultSorter></th>
          <th *ngIf="userRole == 'ADMIN'"><mfDefaultSorter by="fname">Manager First Name</mfDefaultSorter></th>
          <th *ngIf="userRole == 'ADMIN'"><mfDefaultSorter by="organization_name">Organization</mfDefaultSorter></th>
          <th><mfDefaultSorter by="site_count">Site Count</mfDefaultSorter></th>
          <th><mfDefaultSorter by="last_edited_stamp">Last Edited</mfDefaultSorter></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of mf.data">
          <td><a [routerLink]="['/projectdetail', p.project_id, 'info']">{{p.name}}</a></td>
          <td *ngIf="userRole == 'ADMIN'">{{p.lname || "--"}}</td>
          <td *ngIf="userRole == 'ADMIN'">{{p.fname || "--"}}</td>
          <td *ngIf="userRole == 'ADMIN'">{{p.organization_name || "--"}}</td>
          <td>{{p.site_count || "--"}}</td>
          <td>{{p.last_edited_stamp | date: 'MM/dd/yyyy' || "--"}}</td>
      </tr>
    </tbody>
</table>
</div>