<div class="sigl-edit-form">
    <legend style="margin-bottom:25px;margin-top:0;">Contacts</legend>
</div>
<form #ContactEditForm="ngForm">
    <div class="form-group" *ngIf="projectContacts">
        <div class="current-data-list" *ngFor="let c of projectContacts; let i = index">
            <div class="data-display">
                <div>
                    <label>Name:</label>
                    <span *ngIf="!c.isEditing">{{ c.name }}</span> 
                    <span *ngIf="c.isEditing" class="editable-wrap">
                       <input type="text" class="form-control editable-input" name="name" [(ngModel)]="c.name" />
                    </span>
                </div>
                <div>
                    <label>Email:</label>
                    <span *ngIf="!c.isEditing">{{ c.email }}</span>
                    <span *ngIf="c.isEditing" class="editable-wrap"><input type="email" class="form-control editable-input" name="email" [(ngModel)]="c.email"></span>
                </div>
                <div>
                    <label>Phone:</label>
                    <span *ngIf="!c.isEditing">{{ c.phone }}</span>
                    <span *ngIf="c.isEditing" class="editable-wrap"><input type="text" class="form-control editable-input" name="phone" [(ngModel)]="c.phone"></span>
                </div>
                <div>{{c.ContactOrgName}}<span *ngIf="c.ContactDivName">, {{c.ContactDivName}}</span><span *ngIf="c.ContactSecName">, {{c.ContactSecName}}</span></div>
                <div *ngIf="c.isEditing"><button type="button" class="sigl-btn btn-small" (click)="showOrgModal()">Change Contact's Organization</button></div>
            </div> <!-- end data-display -->
            <div class="data-controls">
                <button type="button" *ngIf="!c.isEditing" class="sigl-btn btn-small" (click)="EditRowClicked(i)">Edit</button>
                <button type="button" *ngIf="!c.isEditing" class="sigl-btn btn-orange btn-small" (click)="deleteContact(c.contact_id)">Delete</button>             
                <button type="button" *ngIf="c.isEditing" class="sigl-btn btn-small" (click)="saveContact(c, i)">Save</button>
                <button type="button" *ngIf="c.isEditing" class="sigl-btn btn-orange btn-small" (click)="CancelEditRowClicked(i)">Cancel</button>   
            </div>
        </div>
    </div>
</form>
    
<organizationModal [orgDrop]="orgList" [divDrop]="divisionList" [secDrop]="sectionList" [selectedOrg]="newOrg" (modalResponseEvent)="newValuesFromOrgModal($event)" #orgModal></organizationModal>
<areYouSureModal #areYouSure [message]="messageToShow" (modalResponseEvent)="AreYouSureDialogResponse($event)"></areYouSureModal>