<p class="home-text">
    This Data Management System (DMS) supports the <a href="http://wim.usgs.gov/sigl" target="_blank">Science in the Great Lakes (SiGL) Mapper</a>, which is a metadata-discovery tool that captures information about a wide range of scientific activities occuring in the Great Lakes and provides details on how to access associated data and products.
    <br><br>
    You can use the SiGL DMS to submit, edit, and delete your project and site information.</p>
<!--<p>{{message}}</p>-->
<div id="login-form-wrapper">
    <form>
        <!--<div class="sigl-login-error">{{error}}</div>-->
        <label for="username">USERNAME:</label>
        <input type="text" id="userNameFocus" [(ngModel)]="username" name="username" placeholder="Enter User Name" />
        
        <label for="password">PASSWORD:</label>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Enter Password" />
        <button (click)="login()" id="sigl-login-button" *ngIf="!_loginService.isLoggedIn">Login</button>
        <!--<div class="">
            <a href="" ng-click="forgotPassword()">forgot my password</a>
        </div>
        <button type="submit" id="sigl-login-button">Sign in</button>-->
    </form>
</div>

