<div class="sigl-edit-form">
    <legend style="margin-bottom:25px;margin-top:0;">Data Sources</legend>
</div>
<form #DataEditForm="ngForm">
    <div class="form-group" *ngIf="projectData">
        <div class="current-data-list" *ngFor="let d of projectData; let i = index">
            <div class="data-display">
                <div>
                    <label>Data management system or data description:</label>
                    <span *ngIf="!d.isEditing">{{ d.description }}</span> 
                    <span *ngIf="d.isEditing" class="editable-wrap"><textarea class="form-control editable-input" rows="3" [(ngModel)]="d.description" name="description"></textarea></span>
                </div>
                <div>
                    <label>Data hosting entity:</label>
                    <span *ngIf="!d.isEditing">{{ d.host_name }}</span>
                    <span *ngIf="d.isEditing" class="editable-wrap"><input type="text" class="form-control editable-input" name="host_name" [(ngModel)]="d.host_name"></span>
                </div>
                <div>
                    <label>Online data location:</label>
                    <span *ngIf="!d.isEditing">{{ d.portal_url }}</span>
                    <span *ngIf="d.isEditing" class="editable-wrap"><input type="text" class="form-control editable-input" name="portal_url" httpprefix ngControl="portal_url" [(ngModel)]="d.portal_url"></span>
                </div>
            </div> <!-- end data-display -->
            <div class="data-controls">
                <button type="button" *ngIf="!d.isEditing" class="sigl-btn btn-small" (click)="EditRowClicked(i)">Edit</button>
                <button type="button" *ngIf="!d.isEditing" class="sigl-btn btn-orange btn-small" (click)="deleteDataHost(d.data_host_id)">Delete</button>             
                <button type="button" *ngIf="d.isEditing" class="sigl-btn btn-small" (click)="saveDatahost(d, i)">Save</button>
                <button type="button" *ngIf="d.isEditing" class="sigl-btn btn-orange btn-small" (click)="CancelEditRowClicked(i)">Cancel</button>   
            </div>
        </div>
    </div>
</form>

<newdata [editing]="isEditing" (errorMessagePleaseEvent)="ShowRequiredModal($event)" (addDataHostEvent)="AddDataHost($event)"></newdata>

<atLeast1Modal></atLeast1Modal>
<areYouSureModal #areYouSure [message]="messageToShow" (modalResponseEvent)="AreYouSureDialogResponse($event)"></areYouSureModal>
